<form action="/random/results">
  <label for="user_min">Minimum</label>
  <input name="user_min" id="user_min" placeholder="E.g. 1.5" />
  <label for="user_max">Maximum</label>
  <input name="user_max" id="user_max" placeholder="E.g. 4.5" />
  <button>Pick random number</button>
</form>
